.block {
  display: flex;
  justify-content: center;
  margin: auto 0;
}
.container {
  display: inline-block;
}
.digits {
  font-size: 4em;
  margin-bottom: 1.5rem;
  border: 0.1rem solid black;
  padding: 0.2rem 1.2rem;
}
.time-text {
  display: flex;
  justify-content: space-around;
  color: gray;
  font-size: 1.2rem;
}
